# Este archivo es solo una plantilla. No escriba claves reales aquí.
DB_URL=jdbc:mysql://localhost:3306/LP2Final?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Lima
DB_USERNAME=root
DB_PASSWORD=CAMBIA_ESTA_CLAVE
SERVER_PORT=8091
